# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

#ignore build folder
/build

# testing
/coverage

# production - its not possible to build the ui on prod, so build is created locally and delivered via git
# /build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
